
.wrap {
    width: 100%;
    background: linear-gradient(180deg, #695da6 3.44%, rgba(60, 26, 174, 0.98) 59.35%, #1e03a9 83.25%);
    padding-top: 30px;
    position: relative;
    z-index: 0;
}

.wrap::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 135px;
    width: 100%;
    background-image: url('./images/wave\ \(6\).svg');
    background-size: cover;
    background-position: 0 0;
    z-index: -1;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
}

.nav_item {
    margin-right: 76px;
}

.nav_item2 {
    margin-right: 10px;
    margin-left: 30px;
}

.nav_item3 {
    margin-right: 60px;
    margin-left: 0px;
}

.nav_item_link {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: #F2F6FF;
}

.nav_item_link2 {
    text-decoration: none;
    font-weight: 400;
    font-size: 30px;
    line-height: 18px;
    color: #F2F6FF;
}

.sign {
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
}

.forma {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.prof {
    display: flex;
    flex-direction: column;
    width: 700px;
    justify-content: center;
    text-align: center;
}

input {
    margin: 10px 0;
    padding: 10px;
    border-bottom: 3px solid #240ec8;
}

button {
    padding: 10px;
    cursor: pointer;
}

.upper {
    padding-top: 10px;
    text-align: center;
}

.prof > h1, h2 {
    padding: 20px;
}

.logout {
    border: 2px solid #d71717;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.save {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.form-check-label {
    padding-right: 10px;
}

.upper > a {
    color: #2a38f6;
    font-weight: bold;
    text-decoration: none;
}

.save {
    text-align: center;
    font-weight: bold;
}

.msg {
    border: 2px solid #d71717;
    border-radius: 3px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}
 
.logout {
    color: #d71717;
}

/* css для create_course.php */

.newcourse {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

ol, ul {
    list-style: none;
}

.schedule {
    display: flex;
    justify-content: center;
}